---
import '../sass/components/_buttons.scss';

export interface Props {
  dataType?: string;
  href?: string;
  autofocus?: boolean;
  disabled?: boolean;
  className?: string;
  attribute?: string;
  value?: string;
  onClick?: string;
  kind?: string;
}

const {
  dataType,
  href = '#', 
  className,
  autofocus = false,
  disabled = false,
  value,
  onClick, 
  kind = 'button',
} = Astro.props as Props;
---

{kind === 'button' &&
<button
  data-type={dataType}
  class = {className}
  {autofocus}
  {disabled}
  {value}
  onclick={onClick}>
  <slot />
</button>}

{kind === 'input' &&
<input
  {autofocus}
  {disabled}
  {value}>
  <slot />
</input>}

{kind === 'link' && 
<a data-type={dataType} href={href} >
  <slot />
</a>}