---
import '../sass/components/_buttons.scss';

export interface Props {
  ariaLabel?: string,
  dataType?: string;
  btnType?: string;
  title?: string;
  href?: string;
  autofocus?: boolean;
  disabled?: boolean;
  className?: string;
  attribute?: string;
  value?: string;
  onClick?: string;
  kind?: string;
}

const {
  ariaLabel,
  dataType,
  btnType,
  title,
  href = '#', 
  className,
  autofocus = false,
  disabled = false,
  value,
  onClick, 
  kind = 'button',
} = Astro.props as Props;
---

{kind === 'button' &&
<button
  data-type={dataType}
  type={btnType}
  aria-label={ariaLabel}
  title={title}
  class = {className}
  {autofocus}
  {disabled}
  {value}
  onclick={onClick}>
  <slot />
</button>}

{kind === 'input' &&
<input
  type={btnType}
  aria-label={ariaLabel}
  class = {className}
  {autofocus}
  {disabled}
  {value}>
  <slot />
</input>}

{kind === 'link' && 
<a data-type={dataType} href={href} >
  <slot />
</a>}