---
// library imports
import { Icon } from 'astro-icon';

interface Props {
  type: 'button' | 'input' | 'link';
  id?: string;
  title?: string;
  inputName?: string;
  href?: string;
  style?: 'accent' | 'primary' | 'outline' | 'btn-icon';
  input?:
    | 'button'
    | 'submit'
    | 'reset'
    | 'file'
    | 'range'
    | 'text'
    | 'tel'
    | 'password'
    | 'email'
    | 'number'
    | 'tel'
    | 'url';
  icon?: {
    name?: string;
    side: 'left' | 'right';
  };
  classes?: string;
}

const {
  type = 'button',
  id,
  title,
  inputName,
  href,
  style,
  input,
  icon,
  classes,
  ...rest
} = Astro.props as Props;
---

{
  type === 'button' && (
    <button data-type={style} id={id} class:list={['btn', classes]} {...rest}>
      {icon && icon.side === 'left' && (
        <Icon name={icon.name} width='24' height='24' />
      )}
      {style && style !== 'btn-icon' && <span>{title}</span>}
      <slot />
      {icon && icon.side === 'right' && (
        <Icon name={icon.name} width='24' height='24' />
      )}
    </button>
  )
}

{
  type === 'input' && (
    <>
      {input && input === 'text' && (
        <label for={inputName}>
          <slot />
        </label>
      )}
      <input
        data-type={style}
        type={input}
        id={inputName}
        name={inputName}
        value={title}
        class:list={[classes]}
        {...rest}
      />
    </>
  )
}

{
  type === 'link' && (
    <a
      data-type={style}
      href={href}
      id={id}
      class:list={['link', classes]}
      {...rest}
    >
      {icon && icon.side === 'left' && (
        <Icon name={icon.name} width='24' height='24' />
      )}
      <span>{title}</span>
      {icon && icon.side === 'right' && (
        <Icon name={icon.name} width='24' height='24' />
      )}
    </a>
  )
}
