---
// library imports
import { Icon } from 'astro-icon/components';
import { type HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'button'> {
  id?: string;
  text?: string;
  dataType?: string;
  icon?: {
    name?: string;
    side: 'left' | 'right';
  };
  onClick?: string;
  classes?: string;
}

const { id, text, dataType, icon, classes, ...rest } = Astro.props as Props;
---

<button data-type={dataType} id={id} class:list={['btn', classes]} {...rest}>
  {
    icon && icon.side === 'left' && (
      <Icon name={icon.name} width={24} height={24} />
    )
  }
  {dataType && dataType !== 'btn-icon' && <span>{text}</span>}
  <slot />
  {
    icon && icon.side === 'right' && (
      <Icon name={icon.name} width={24} height={24} />
    )
  }
</button>
